.input{
    padding: .7rem;
    border-radius: 0.3rem;
    width: 15rem;
}
.btn{
    padding: .5rem;
    margin-top: 0.5rem;
    margin-right: .2rem;
    border-radius: .3rem;
    border-width: .1rem;
    font-size: 1rem;
}
.btn-simple{
background-color: #f5f5f5;

}
.btn-orange{
    background-color: #ff6247;
    color: white;

}